[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=network.target

[Service]
Type=idle
Environment=PATH=/storage/.docker/bin:/opt/bin:/opt/sbin:/usr/bin:/usr/sbin:/bin:/sbin
ExecStart=/storage/.docker/bin/dockerd --config-file /storage/.config/docker/daemon.json
TimeoutStartSec=0
Restart=always

[Install]
WantedBy=multi-user.target
Alias=docker.service
